<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <div th:replace="/fragment/fragments :: html_head('Category Management', 'tag')">
    </div>
</head>

<body>
<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="/fragment/sidebar :: admin_sidebar">
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="/fragment/header :: admin_header">

        </div>
        <!-- Navbar End -->

        <div class="p-5" style="height:80vh;">
            <h1>DashBoard Admin</h1>
            <th:block sec:authorize="isAuthenticated()">
                <div>
                    Welcome <b sec:authentication="principal.fullName"></b>
                </div>
            </th:block>
        </div>


        <!-- Footer Start -->
        <div th:replace="/fragment/footer :: admin_footer">

        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>

    <!-- MODAL -->
    <div class="modal fade" id="confirmDeleteModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 id="confirmDeleteModalTitle" class="modal-title fs-5"></h1>
                    <button class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <p id="confirmDeleteModalMessage"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a class="btn btn-success" id="btn-confirm-delete" href="">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JavaScript Libraries -->
<div th:replace="/fragment/fragments :: html_script">

</div>

</body>

</html>