<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="/fragment/fragments :: html_head(${pageTitle}, 'tag')">
    </div>
</head>

<body>
<div class="container-fluid position-relative bg-white d-flex p-0">
    <!-- Spinner Start -->
    <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <!-- Spinner End -->


    <!-- Sidebar Start -->
    <div th:replace="/fragment/sidebar :: admin_sidebar">
    </div>
    <!-- Sidebar End -->


    <!-- Content Start -->
    <div class="content">
        <!-- Navbar Start -->
        <div th:replace="/fragment/header :: admin_header">

        </div>
        <!-- Navbar End -->


        <!-- Form Start -->
        <div class="container-fluid pt-4 px-4">
            <div class="row g-4">
                <div class="col-12">
                    <div class="bg-light rounded h-100 p-4">
                        <h3 class="mb-4">[[${pageTitle}]]</h3>
                        <form th:action="@{/categories/save}" th:object="${category}" method="POST">

                            <!-- Hidden field to store id-->
                            <input type="hidden" th:field="*{id}"/>

                            <div class="mb-3">
                                <label for="categoryName" class="form-label">Name</label>
                                <input type="text" class="form-control" id="categoryName" th:field="*{name}">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="form-label">Description</label>
                                <input type="text" class="form-control" id="description" th:field="*{description}">
                            </div>
                            <div class="mb-3 form-check">
                                <label class="form-check-label" for="enabled">Enabled</label>
                                <input type="checkbox" class="form-check-input" id="enabled" th:field="*{enabled}">
                            </div>
                            <button type="submit" class="btn btn-primary">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form End -->


        <!-- Footer Start -->
        <div th:replace="/fragment/footer :: admin_footer">

        </div>
        <!-- Footer End -->
    </div>
    <!-- Content End -->


    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
</div>

<!-- JavaScript Libraries -->
<div th:replace="/fragment/fragments :: html_script">

</div>
</body>

</html>