<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fragment Header Admin</title>
</head>
<body>
    <!-- Header admin-->
    <nav th:fragment="web_header" th:remove="tag">
        <div class="container-fluid">
            <div class="row bg-secondary py-1 px-xl-5">
                <div class="col d-none d-lg-block">
                    <div class="d-inline-flex align-items-center h-100">
                        <a class="text-body mr-3" href="">About</a>
                        <a class="text-body mr-3" href="">Contact</a>
                        <a class="text-body mr-3" href="">Help</a>
                        <a class="text-body mr-3" href="">FAQs</a>
                    </div>
                </div>
                <div class="col text-center text-lg-right">
                    <div class="d-inline-flex align-items-center">
                        <div class="btn-group">
                            <!-- not yet authenticated -> show btn login -->
                            <th:block sec:authorize="isAnonymous()">
                                <a class="btn btn-sm btn-light" th:href="@{/login}">Sign in</a>
                            </th:block>

                            <!-- authenticated -> show customer account -->
                            <th:block sec:authorize="isAuthenticated()">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">
                                    <span sec:authentication="principal.fullName"></span>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" th:href="@{/account_details}">View account details</a>

                                    <!-- Hidden Form for logout-->
                                    <form th:action="@{/logout}" method="post" hidden="hidden" id="logoutForm">
                                        <input type="submit" value="Logout" />
                                    </form>
                                    <a class="dropdown-item" href="#" id="btnLogout">
                                        <i class="me-2 fa-solid fa-arrow-right-from-bracket"></i>
                                        Logout
                                    </a>
                                </div>
                            </th:block>
                        </div>
                    </div>
                    <div class="d-inline-flex align-items-center d-block d-lg-none">
                        <a href="" class="btn px-0 ml-2">
                            <i class="fas fa-shopping-cart text-dark"></i>
                            <span class="badge text-dark border border-dark rounded-circle" style="padding-bottom: 2px;">0</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row align-items-center bg-light py-3 px-xl-5 d-none d-lg-flex">
                <div class="col-lg-4">
                    <a href="" class="text-decoration-none">
                        <span class="h1 text-uppercase text-primary bg-dark px-2">Mobile</span>
                        <span class="h1 text-uppercase text-dark bg-primary px-2 ml-n1">Shop</span>
                    </a>
                </div>

                <div class="col text-right">
                    <p class="m-0">Customer Service</p>
                    <h5 class="m-0">+84 9441 19125</h5>
                </div>
            </div>
        </div>
    </nav>
    <!-- END Header admin-->

</body>
</html>